<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Relatórios das suites de testes</title>
        <style type="text/css">
            ul {
                margin: 0;
                padding: 0;
            }
            a {
                color: darkgreen;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <h2>Relatórios de testes</h2>
        <ul>
            <li>&#10170;&nbsp;&nbsp;<a href="/funcional-tests-report" title="Relatório dos testes funcionais">Testes Funcionais</a></li>
            <li>&#10170;&nbsp;&nbsp;<a href="/integration-tests-report" title="Relatório dos testes de integração da api">Testes de Integração</a></li>
        </ul>
        <br/>
        &#9055;&nbsp;&nbsp;<a href="/docs" title="Documentação do projeto">Documentação do projeto</a>
    </body>
</html>
